[Unit]
Description=ToddlerJukeBox Service
After=network.target

[Service]
User=root
Group=root
ExecStart=<PATH_TO_PYTHON>python <PATH_TO_SCRIPT>ToddlerJukeBox.py /dev/input/by-id/<READER> <PATH_TO_PLAYLIST>playlist.txt
Restart=on-failure

[Install]
WantedBy=multi-user.target 